[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/kseqpp"]
	path = external/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "external/libvbyte"]
	path = external/libvbyte
	url = https://github.com/cruppstahl/libvbyte.git
