[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/kseqpp"]
	path = external/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "external/libvbyte"]
	path = external/libvbyte
	url = https://github.com/cruppstahl/libvbyte.git
[submodule "external/emhash"]
	path = external/emhash
	url = https://github.com/ktprime/emhash.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/tiered-vector"]
	path = external/tiered-vector
	url = https://github.com/sayangoswami/tiered-vector.git
[submodule "external/slow5lib"]
	path = external/slow5lib
	url = https://github.com/hasindu2008/slow5lib.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/morrisfranken/argparse.git
